* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
}

.main {
    height: 100vh;
    background-image: url("http://traversymedia.com/downloads/assets/beachshowcase.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #926239;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main h1 {
    font-size: 40px;
    padding-top: 20%;
}

.main p {
    font-size: 22px;
}

.button {
    display: inline-block;
    border: 1px solid #926239;
    padding: 13px 20px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 30px;
    color: #926239;
}

.button:hover {
    color: white;
    background-color: #926239;
    transition: .25s;
}

.p {
    background-color: #926239;
    color: white;
    padding: 15px;
    font-family: sans-serif;
    font-size: 15px;
}